<div class="flex flex-col bg-gray-800 text-gray-300 w-64 h-full p-4 shadow-md flex-shrink-0">
  <!-- Logo and Title always visible -->
  <div class="mb-6 flex items-center justify-start">
    <i class="fas fa-shield-alt text-blue-400 text-5xl mr-2"></i>
    <h2 class="text-2xl font-bold text-blue-400">IRMS</h2>
  </div>

  <!-- Conditional content for authenticated users only -->
  <aside *ngIf="authService.getToken()" class="flex-grow">
    <nav>
      <ul class="space-y-2">
        <li>
          <a routerLink="/dashboard" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-tachometer-alt text-blue-400 mr-2"></i> Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/incidents" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-exclamation-triangle text-blue-400 mr-2"></i> Incidents
          </a>
        </li>
        <li>
          <a routerLink="/create" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-plus text-blue-400 mr-2"></i> Create Incident
          </a>
        </li>
        <li>
          <a routerLink="/escalation" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-arrow-up text-blue-400 mr-2"></i> Escalation
          </a>
        </li>
        <li>
          <a routerLink="/knowledge-base/create" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-arrow-up text-blue-400 mr-2"></i> Create Knowledge Base
          </a>
        </li>
        <li>
          <a routerLink="/knowledge-base" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-arrow-up text-blue-400 mr-2"></i> View Knowledge Base
          </a>
        </li>
        <!-- <li>
          <a routerLink="/reports" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-file-alt text-blue-400 mr-2"></i> Create SOC Report
          </a>
        </li>
        <li>
          <a routerLink="/download" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-file-alt text-blue-400 mr-2"></i> Send SOC Report
          </a>
        </li> -->
        <li>
          <button (click)="authService.logout()" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-sign-out-alt text-blue-400 mr-2"></i> Logout
          </button>
        </li>
        <li>
          <a routerLink="/settings" class="flex items-center p-2 rounded hover:bg-gray-700 text-gray-300">
            <i class="fas fa-cog text-blue-400 mr-2"></i> Settings
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</div>
