<aside class="sidebar">
  <c-sidebar class="sidebar" show="true" color="primary">
    <c-sidebar-brand>
      <h2 class="sidebar-title">IRMS</h2>
    </c-sidebar-brand>
    <nav>
      <c-nav>
        <c-nav-item routerLink="/dashboard">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </c-nav-item>
        <c-nav-item routerLink="/incidents">
          <i class="fas fa-exclamation-triangle"></i> Incidents
        </c-nav-item>
        <c-nav-item routerLink="/create">
          <i class="fas fa-plus"></i> Create Incident
        </c-nav-item>
        <c-nav-item routerLink="/escalation">
          <i class="fas fa-arrow-up"></i> Escalation
        </c-nav-item>
        <c-nav-item routerLink="/signin">
          <i class="fas fa-cog"></i> Signin
        </c-nav-item>
        <c-nav-item routerLink="/signup">
          <i class="fas fa-cog"></i> Signup
        </c-nav-item>
        <c-nav-item routerLink="/reports">
          <i class="fas fa-file-alt"></i> Reports
        </c-nav-item>
        <c-nav-item routerLink="/settings">
          <i class="fas fa-cog"></i> Settings
        </c-nav-item>
      </c-nav>
    </nav>
  </c-sidebar>
</aside>
