<ng-container>
  <!-- Header -->
  <header class="bg-gray-800 text-gray-300 p-4 flex items-center justify-between shadow-md">
    <!-- Toggle Button -->
    <button (click)="onToggleSidebar()" class="lg:hidden p-2 text-2xl">
      <i class="fas fa-bars text-gray-300"></i>
    </button>

    <!-- Welcome Message (Centered) -->
    <div class="flex-grow text-center">
      <span class="text-gray-300">Welcome, Jibril</span>
    </div>

    <!-- Logout Button -->
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Logout
    </button>
  </header>

  <div class="border-b border-gray-700"></div>
</ng-container>